.tab{
    padding-top: 80px;
}
.tab .nav-tabs .nav-link{
    position: relative;
    color: #4a4a4a;
    padding: 10px 30px;
    border: none;
}
.tab .nav-tabs{
    border: none;
}
.tab .nav-tabs .nav-link::after{
    content: '';
    width: 0;
    height: 3px;
    background-image: linear-gradient(to right, #fbbd61 ,#ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
    display: inline-block;
    transition: all 0.5s;
}
.tab .nav-tabs .nav-link.active::after,.tab .nav-tabs .nav-link:hover::after{
    width: 95%;
}
.tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active,.showtimes .nav-tabs .nav-link:hover{
    border: white;
}